// flex布局复用
@mixin flex($hov: space-between, $col: center) {
    display: flex;
    justify-content: $hov;
    align-items: $col;
}

@mixin bgImg($w: 0, $h: 0, $img: "", $size: contain) {
    background: url($img) no-repeat center;
    background-size: $size;
    width: $w;
    height: $h;
    display: inline-block;
}
